<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.ndp.mapper.UserInfoMapper">

    	<select id="selectUserById" parameterType="String" resultType="com.ndp.vo.UserInfoVO">
	        SELECT
	            id,
	            user_uuid AS userUuid,
	            user_id AS userId,
	            password
	        FROM user_info
	        WHERE user_id = #{user_id}
	    </select>
    
</mapper>
